page-home {

    .toolbar-background{
        background-image: linear-gradient(to right, color($colors,primary)  , color($colors,secondary));
    }
    .title{
        color: #ffffff;
        font-size: 3.6rem;
        font-family: "Baloo Bhaijaan";
        height: 49px;
        font-size: 32px;
        text-align: center;
        

    }


    ion-card{
        position: relative;
        text-align: center;
        height: 25vh;
        margin-bottom: 4vh; 
    }

    .card-title{
        position: absolute;
        bottom: 8%;
        text-align: right;
        font-size: 1.8em;
        line-height: 1.4;
        width: 100%;
        color: #ffffff;
        background-image: linear-gradient(to right, color($colors,primary)   , #b38598);
        opacity: 0.9;
        height: fit-content;
    }
    
}
