page-home {

    ion-card{
        position: relative;
        text-align: center;
        height: 25vh;
        margin-bottom: 4vh; 
    }

    .card-title{
        position: absolute;
        bottom: 8%;
        text-align: right;
        font-size: 1.8em;
        line-height: 1.4;
        width: 100%;
        color: #ffffff;
        background-image: linear-gradient(to right, color($colors,primary)   , #b38598);
        opacity: 0.9;
        height: fit-content;
    }
    
}
